<%= stylesheet_link_tag 'editor' %>
<%= javascript_include_tag 'editor' %>

<div id="user-data" data-user-id="<%= current_user.id %>" data-game-id="<%= current_game.id %>">
</div>

<div class="container-fluid" id="editor-container">
  <div class="row no-gutters">
    <div class="col-2 bg-light" id="controls">
      <div id="control-menu" class="control">
        <div class="menu-btn" id="load-assets">Load Assets!</div>
        <div class="menu-btn" id="load-map">Load Map!</div>
        <div class="menu-btn" id="add-player">Player</div>
        <%= form_with url: save_game_path(@game), id: 'save-game-form' do |f| %>
          <div class="menu-btn" id="save-game">Save!</div>
        <% end %>
      </div>
    </div>

    <div class="col-10" id="display" data-game-name="<%= @game.name %>">
    </div>
  </div>

  <div id="editor-toolbar">
    <div class="row">
      <div class="col-6" id="play-button">
        <%= link_to 'Play!', play_game_path(@game), class: 'menu-btn' %>
      </div>
      <div class="col-6" id="download-button">
        <button type="button" class="menu-btn"> Download! </button>
      </div>
    </div>
  </div>
</div>

<!-- these are the other control panes, they start out hidden -->
<!-- only one shows at any given time on the controls section -->
<div id="control-assets" class="control">

  <%= form_with url: load_assets_path(@game), id: 'load-assets-form' do |f| %>
    <h4>Load Assets:</h4>
    <%= f.file_field :assets, multiple: true, id: 'load-assets-input' %>
    <button type="button" class="menu-btn" id="load-assets-submit">Load!</button>
  <% end %>

  <button class="menu-btn" id="control-assets-back">Go back</button>
</div>

<div id="control-load-map" class="control">

  <%= form_with url: load_assets_path(@game), id: 'load-map-form' do |f| %>
    <h4> Load map JSON (Tiled format): </h4>
    <%= f.file_field :assets, id: 'load-map-input' %>
    <button type="button" class="menu-btn" id="load-map-submit">Load!</button>
  <% end %>

  <button class="menu-btn" id="control-load-map-back">Go back</button>
</div>

<div id="control-add-player" class="control">
  <%= form_with url: load_assets_path(@game), id: 'load-player-spritesheet-form' do |f| %>
    <h4> Choose player spritesheet: </h4>
    <%= f.file_field :assets, id: 'load-player-spritesheet-input' %>
    <%= f.label :width, 'Frame width:' %>
    <%= f.number_field :width %>
    <%= f.label :height, 'Frame height:' %>
    <%= f.number_field :height %>
    <button type="button" class="menu-btn" id="add-player-submit">Load!</button>
  <% end %>

  <button class="menu-btn" id="control-add-player-back">Go back</button>
</div>

<div id="control-player" class="control">
  <h4>Edit Player:</h4>
  <button class="menu-btn" id="control-player-spawn">Change Spawn Point</button>
  <button class="menu-btn" id="control-player-change-spritesheet">Change Spritesheet</button>
  <button class="menu-btn" id="control-player-back">Go back</button>
  <div id="control-player-help-text">
  </div>
</div>